<div class="card-footer">
  <div class="alert alert-success">
    <b>Shortened URL:</b> <%= link %>
    <hr />
    <small>copy this url into the browser to see the original website</small>
  </div>
</div>
